.jumbotron {
	background-color: coral;
	background: linear-gradient(45deg, #FF8E8E, #F5A94C, #E0C15B);
  color: #fff;
}

.main-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dot {
  width: 30px;
  height: 30px;
  background-color: orange;
  border: 2px solid orange;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  transform: scale(0);
  animation: fx 1000ms ease infinite 0ms;
}
.dot:nth-child(2) {
  animation: fx 1000ms ease infinite 300ms;
}
.dot:nth-child(3) {
  animation: fx 1000ms ease infinite 600ms;
}
@keyframes fx {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
